@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.hero .col img {
    width: 500px;
}

.about .col img {
    width: 50%
}

section {
    padding-top: 70px;
    padding-bottom: 50px;
}

.about .col img {
    width: 80%
}

footer {
    margin-top: 100px;
    padding-bottom: 20px;
}

.footer-link {
    opacity: 75%;
}

.footer-link:hover {
    opacity: 100%;
    color:azure;
}

.copyright {
    margin-top: 100px;
}

@media screen and (max-width: 510px){
    .hero .col img {
        width: 100%;
    }
}






